<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../assets/myStyle.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <title>Administrator</title>
</head>
<body>

  <div class="panel">
    <div class="panel-heading">Add Subject</div>
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-sm-6 modComboAddUser">
            <label for="typeCur">Curriculum</label>
            <select id="typeCur" class="form-control btn-block input-md">
              <option <%if(addCurriculum[0].addCurriculum==='new'){%><%-'selected'%><%}%> value="new">New</option>
              <option <%if(addCurriculum[0].addCurriculum==='old'){%><%-'selected'%><%}%> value="old">Old</option>
            </select>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-6 modComboAddUser">
            <label for="typeCur">Course Title</label>
            <input type="text" id="courseTitle" class="form-control btn-block input-md" placeholder="Course Title" required>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6 modComboAddUser">
            <label for="preReq">Pre-requisite</label>
            <select id="preReq" class="form-control btn-block input-md">

              <option value="no pre-requisite">No Pre-requisite</option>
                <%if(addCurriculum[0].addCurriculum==='new'){%>
                  <%user.forEach(function(user){%>
                    <option value="<%-user.courseTitle%>"><%-user.courseTitle%></option>
                  <%})%>
                <%}%>

                <%if(addCurriculum[0].addCurriculum==='old'){%>
                  <%user3.forEach(function(user3){%>
                    <option value="<%-user.courseTitle%>"><%-user3.courseTitle%></option>
                  <%})%>
                <%}%>


            </select>
          </div>
        </div>


        <hr class="hidden-xs"/>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-8 modComboAddUser">
            <button title="Save" class="btn btn-success btn-block"><span class="fa fa-floppy-o visible-xs"></span><span class="hidden-xs">Save</span></button>
          </div>

          <div class="col-sm-2 col-xs-2 modComboAddUser">
            <a href="/administrator/subjects" title="Cancel" class="btn btn-default btn-block"><span class="fa fa-sign-out visible-xs"></span><span class="hidden-xs">Cancel</span></a>
          </div>
        </div>
      </form>
    </div>
  </div>



<script>

var typeCur = "new";
$(document).ready(function(){

  var preReq = "no pre-requisite";


  $('select#preReq').change(function(){
    preReq = $(this).children('option:selected').val();
  });


  $('select#typeCur').change(function(){
    var addCurriculum = $(this).val();
    var courseTitle = $('#courseTitle').val();


    $.post('http://localhost:3000/curriculum-add-subjects', {
      addCurriculum: addCurriculum,
      title: courseTitle
    });
    location.reload();
    return false;
  });


  $('form').on('submit',function(){
      var courseTitle = $('#courseTitle').val();
      var preRequisite = preReq;
      var typeOfCurriculum = $('select#typeCur').children('option:selected').val();

    $.post("http://localhost:3000/save-subject-data",{
      courseTitle: courseTitle.toLowerCase(),
      preRequisite: preRequisite,
      typeOfCurriculum: typeOfCurriculum

    }, function(){
      window.location.href="../subjects/";
      return false;
    });
  })
});


</script>




</body>
</html>

<style>

  .modComboAddUser{
    margin-top:5px;
    padding:4px;
  }
</style>
